<%- include('./header.ejs', {path: '../'}); %>


<div class="main-container">
    <section class="space--sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="masonry">
                        <div class="row">
                            <div class="masonry__container">
                                <div class="masonry__item col-sm-6 col-md-3" data-masonry-filter="Creative">
                                    <div class="product">
                                        <a href="#">
                                            <img alt="Image" src="img/product-small-6.png" />
                                        </a>
                                        <a class="block" href="#">
                                            <div>
                                                <h5>Wacom Intuos Pen</h5>
                                                <span> Digital Stylus</span>
                                            </div>
                                            <div>
                                                <span class="h4 inline-block">$89</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!--end item-->
                            </div>
                            <!--end masonry container-->
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end masonry-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
<%- include('./footer.ejs', {path: '../'}); %>
